<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">	

	<div>
		<form autocomplete="off" th:object="${paciente}" th:action="@{/pacientes/salvar}" method="post">
		
			<th:block th:include="fragments/mensagens/mensagens-erro-validacao"></th:block>
			<input type="hidden" th:field="*{id}"/>
			
			<div class="row">
			
				<!-- ########## NOME ########## -->
				<div class="col-sm-6  form-group cm-required">
					<label for="nome">Nome</label>					
					<input 
						id="nome" 
						type="text"
						class="form-control" 
						autofocus="autofocus"
						th:field="*{nome}"
						th:classappend="${#fields.hasErrors('nome')} ? is-invalid"/>
				</div>

				<!-- ########## CPF ########## -->
				<div class="form-group  col-sm-3 cm-required">
					<label for="cpf">CPF</label>					
					<input 
						id="cpf" 
						type="text" 
						class="form-control" 
						th:field="*{cpf}"
						th:classappend="${#fields.hasErrors('cpf')} ? is-invalid"/>
				</div>	
									
			</div>
			
			<div class="row">
			
				<!-- ########## EMAIL ########## -->	
				<div class="form-group  col-sm-4 cm-required">				
					<label for="email" class="control-label">E-mail</label>					
					<input 
						id="email" 
						type="email" 
						class="form-control" 
						th:field="*{email}"
						th:classappend="${#fields.hasErrors('email')} ? is-invalid"/>
				</div>						
				
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</html>