<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layoutPadrao">

<head>
	<title>Cadastro de Paciente</title>
</head>

<section layout:fragment="conteudo" style="margin-top: 30px">
	<th:block th:replace="fragments/mensagens/mensagens-sucesso"></th:block>
		
	<!-- ########## HEADER DA PÁGINA ########## -->
	<div th:if="${paciente.novo}">
		<th:block th:replace="fragments/page-headers/page-header :: 
			header('Cadastrar Paciente', '/pacientes', 'Pesquisar')"></th:block>
	</div>
	
	<div th:unless="${paciente.novo}">
		<th:block th:replace="fragments/page-headers/page-header :: 
			header('Editar Paciente', '/pacientes', 'Pesquisar')"></th:block>
	</div>	

		
	<!-- ########## FORMULÁRIO DE CADASTRO DE PACIENTE ########## -->
	<th:block th:replace="pages/pacientes/fragments/forms/form-cadastrar-paciente"></th:block>
	
</section>

</html>