<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layoutPadrao">

<head>
	<title>Pesquisar Pacientes</title>	
</head>

<section layout:fragment="conteudo" style="margin-top: 30px">
 	<th:block th:replace="fragments/mensagens/mensagens-sucesso"></th:block>
		
	<!-- ########## HEADER DA PÁGINA ########## -->
	<th:block th:replace="fragments/page-headers/page-header :: 
		header('Pesquisar Pacientes', '/pacientes/novo', 'Novo Paciente')"></th:block>

	<!-- ########## FORMULÁRIO DE PESQUISA ########## -->
	<th:block th:replace="pages/pacientes/fragments/forms/form-pesquisar-pacientes"></th:block>
	
	<!-- ########## TABELA DE PACIENTES ########## -->
	<th:block th:replace="pages/pacientes/fragments/tables/tabela-pacientes"></th:block> 
					
</section>

</html>